/* body,
html,
* {
  cursor: none;
} */

body::-webkit-scrollbar {
  display: none;
}

/* .main {
  scroll-behavior: smooth;
} */

/* CUSTOM CURSOR - START */
.circle {
  --circle-size: 16px;
  --color1: rgba(225, 225, 225, 0.8);
  --color2: rgba(0, 0, 0, 0.8);
  /* --circle-size: 36px; */
  position: fixed;
  height: var(--circle-size);
  width: var(--circle-size);
  border: 1px solid var(--color1);
  backdrop-filter: blur(10px);
  border-radius: 100%;
  /* add drop shadow */
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
  background-color: var(--color1);
  backdrop-filter: blur(10px);
  /* background-color: transparent; */
  top: calc(var(--circle-size) / 2 * -1);
  left: calc(var(--circle-size) / 2 * -1);
  pointer-events: none;
  will-change: transform;
  transition:
    width 0.3s ease-in-out,
    height 0.3s ease-in-out,
    top 0.3s ease-in-out,
    left 0.3s ease-in-out,
    background-color 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  text-transform: lowercase;
  /* text-transform: uppercase; */
  /* font-size: 1rem; */
  font-weight: 200;
}

.circle.active {
  --circle-size-active: 72px;
  background-color: var(--color1);
  backdrop-filter: blur(10px);
  /* border: 1px solid transparent; */
  height: var(--circle-size-active);
  width: var(--circle-size-active);
  top: calc(var(--circle-size-active) / 2 * -1);
  left: calc(var(--circle-size-active) / 2 * -1);
}

.circle .circleText {
  font-size: 0.8rem;
  color: transparent;
  transition: color 0.3s ease-in-out;
}
.circle.active .circleText {
  color: black;
}
/* CUSTOM CURSOR - END */

/* AUDIO BUTTON - START */
.audioButton {
  --audio-button-size: 48px;
  width: var(--audio-button-size);
  height: var(--audio-button-size);
  transition:
    background-color 0.3s ease-in-out,
    transform 0.1s ease-in-out;
}
/* .audioButton:hover {
  transform: scale(1.05);
}
.audioButton:active {
  transform: scale(1.1);
} */
.equalizer {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 1px;
  /* width: 10rem;
  height: 10rem; */
  width: calc(var(--audio-button-size) / 2.3);
  height: calc(var(--audio-button-size) / 2.3);
}
.bar {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: black;
  transition: background-color 0.05s ease-in-out;
}
.bar > span {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(240, 240, 240);
  transition:
    transform 250ms cubic-bezier(0.11, 0.32, 0.38, 0.91),
    background-color 0.05s ease-in-out;
}

.audioButton .bar {
  background-color: rgb(240, 240, 240);
}
.audioButton .bar > span {
  background-color: black;
}
.audioButton.active {
  background-color: rgb(240, 240, 240);
}
.audioButton.active:hover,
.audioButton.active:hover .bar > span {
  background-color: rgb(255, 255, 255);
}
.audioButton.active .bar {
  background-color: black;
  /* background-color: rgb(240, 240, 240); */
}

.audioButton.active .bar > span {
  background-color: rgb(240, 240, 240);
  /* background-color: black; */
}
/* AUDIO BUTTON - END */

/* MENU - START */
.menuBtn {
  background-color: rgb(240, 240, 240);
  will-change: transform;
  transition: all 0.3s ease-in-out;
}

.menuBtn:hover {
  background-color: rgb(255, 255, 255);
}
.menuBtn.active {
  background-color: rgb(50, 50, 50);
  color: white;
}
.menu__btn--underline {
}

.menu__btn--underline {
  position: relative;
  cursor: pointer;
}

.menu__btn--underline::before {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  transform: scaleX(0) translateZ(0);
  transform-origin: 100% 0;
  transition: transform 0.4s ease-in-out;
  will-change: transform;
  margin-bottom: 0.5rem;
  background-color: black;
  width: 100%;
  height: 1.5px;
  content: '';
}

.menu__btn--underline:hover.menu__btn--underline::before {
  transform: scaleX(1) translateZ(0);
  transform-origin: 0 0;
}

.menuBtn__textWrapper {
  position: relative;
  overflow: hidden;
  /* border: 1px solid black; */
  display: block;
}
.menuBtn__textWrapper span {
  will-change: transform;
  transition: transform 0.2s ease-in-out;
  display: block;
  /* border: 1px solid black; */
  /* line-height: 1.1; */
}
.menuBtn__text--primary {
  position: relative;
}
.menuBtn__text--secondary {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate3d(0, 100%, 0);
}

.menuBtn:hover .menuBtn__text--primary {
  transform: translate3d(0, -100%, 0);
}
.menuBtn:hover .menuBtn__text--secondary {
  transform: translate3d(0, 0, 0);
}

.menu__open {
  pointer-events: all;
}

.menuText__wrapper {
  position: relative;
  overflow: hidden;
  /* border: 1px solid black; */
  display: block;
}
.menuText__wrapper span {
  will-change: transform;
  transition: transform 0.2s ease-in-out;
  display: block;
  /* border: 1px solid black; */
  line-height: 1.1;
}
.menuText__main {
  position: relative;
  /* color: blue; */
}
.menuText__secondary {
  position: absolute;
  transform: translate3d(0, 125%, 0);
  color: #88898c;
  left: 0;
  top: 0;
}

.menuText__btn:hover .menuText__main {
  transform: translate3d(0, -125%, 0);
}
.menuText__btn:hover .menuText__secondary {
  transform: translate3d(0, 0, 0);
}
.menuText__icon {
  /* make svg stroke thicker */
  stroke-width: 1;
  stroke: black;
}
.menuGroup__secondary .menuText__icon {
  stroke-width: 1;
  stroke: black;
  width: 0.6rem;
  height: 0.6rem;
}
.menuText__iconWrapper {
  position: relative;
  overflow: hidden;
}
.menuText__iconWrapper svg {
  will-change: transform;
  transition: transform 0.2s ease-in-out;
}
.menuText__icon--primary {
  position: relative;
}
.menuText__icon--secondary {
  position: absolute;
  top: 0;
  left: 0;
  fill: #88898c;
  stroke: #88898c;
  transform: translate3d(-100%, 100%, 0);
}
.menuText__btn:hover .menuText__icon--primary {
  transform: translate3d(100%, -100%, 0);
}
.menuText__btn:hover .menuText__icon--secondary {
  transform: translate3d(0, 0, 0);
}
/* MENU - END */

.projectBtn {
  background-color: rgb(240, 240, 240);
  will-change: transform;
  transition: all 0.3s ease-in-out;
}
.projectBtn:hover {
  background-color: rgb(255, 255, 255);
}
.projectBtn:hover .menuBtn__text--primary {
  transform: translate3d(0, -100%, 0);
}
.projectBtn:hover .menuBtn__text--secondary {
  transform: translate3d(0, 0, 0);
}
